
<div >
  <div style="margin-bottom:50px; margin-top:30px; ">
    <div style="text-align: center">
        <span style="margin-bottom:50px; padding:50px; font-size:48px; color: #66DE89; border-radius:50%; border: 3px solid #66DE89">P</span>
    </div>
     <br>
    <div style="font-size: 25px; padding-bottom: 16px; text-align: center;">
              <h1 style="font-family: bold"> Pharmadrive </h1>
      <span>Ordonnance</span> <br>
    </div>
  </div>

  <div>
      <div style="font-size: 25px; text-align: center">
        Medecin: <br>
       <%= @list.patient.user.name %> <br>
        <%= @list.patient.user.address %>
      </div>


    <div style="display: inline-block; margin: 30px 0px;">

      <div style="margin: 30px 0px; font-size: 20px">
        Ordonnance du : <br>
        <%= @list.created_at.strftime("%d %B %Y, %k:%M %P") %>
      </div>

      <div style="margin-bottom:50px;">
        <span style="font-size: 20px;">
          Livrée à la Pharmacie : <br>
          <%= @list.user.name %> <br>
          <%= @list.user.address %>
        </span>
      </div>

    </div>

    <div style="text-align: center">
      <% @list.drugs.each do |drug| %>
        <div style="font-size: 25px; margin-bottom: 10px;"> <%= drug.drug_name %> <br>
          <%= drug.posology %>  -
          <%= drug.quantity %> -
          <%= drug.qsp %><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
