<% content_for :title, "Modifier son compte" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <div class="form-login">
        <h2>Modifier le compte</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, label: 'Mot de passe',
          hint: "Ne pas écrire si vous ne désirez pas changer votre mot de passe",
          required: false,
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, label: 'Confirme ton mot de passe',
          required: false,
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password, label: 'Mot de passe actuel',
          hint: "Nous avons besoin de ton mot de passe pour modifier ces informations",
          required: true,
          input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-actions">
           <%= f.button :submit, "Modifier",class: "btn btn-success white" %>
        </div>
        <% end %>

        <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Retour", :back %>
      </div>
    </div>
  </div>
</div>
