<div class="noscroll">
  <div class="row text-center align-items-center d-inline">
    <h1 class="col-12 p-2"> Ordonnances de :  </h1>

    <div class="row justify-content-center mb-4">
      <div class="search-bar col-12 col-lg-6 fa fa-search" style='margin-right: 19px;'>
        <%= form_tag pharmacy_archives_show_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Rechercher une date ou médicamment"
          %>
          <% end %>
      </div>
    </div>
    <div class="patient-lists col-8 offset-2">
      <div class="accordion" id="accordionExample">
        <% @patient.lists.each do |list| %>
        <div class="card">
            <div class="card-header d-flex" id="heading<%=list.id%>">
                <button class="btn d-flex w-100 justify-between" type="button" data-toggle="collapse" data-target="#collapse<%=list.id%>" aria-expanded="false" aria-controls="collapse<%=list.id%>">
                  <div <%= "class=accordion-list-day" if list.created_at.day == Time.now.day %>>
                    <span >
                        <%= list.created_at.strftime("%d %B %Y")%> </span>
                    <span>
                        <%= list.drugs.count %> prescriptions </span>
                  </div>
                </button>
            </div>
            <div id="collapse<%=list.id%>" class="collapse" aria-labelledby="heading<%=list.id%>" data-parent="#accordionExample">
                <div class="card-body">
                    <% list.drugs.each do |drug| %>
                    <%= drug.drug_name %>
                    <%= drug.dosage %>
                    <%= drug.posology %>
                    <%= drug.quantity %>
                    <%= drug.qsp %> <br>
                    <% end %>
                    <%= link_to 'Pdf', doctor_list_listpdf_path(list.id, format: :pdf), target: :_blank %>
                </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
