<br>
<div class="card-stats">
<%= current_user.name %> </div>
<br>
<% if current_user.role == 'doctor' %>
<div class="container-stats">
<div class="card-stats">
<%= "Nombre de patients:" %>
<br>
<strong> <%= @user.patients.count %></strong>
</div>
<br>
<div class="card-stats">
<%= "Nombre d'ordonnances:" %>
<br>
<strong> <%= @user.lists.count %></strong>
</div>
</div>
<% else %>
<%= 'Tu es pharmacien' %>
<% end %>

 <%= link_to "Modifier vos informations", edit_user_registration_path, class: "nav-link" %>
