<br>
<div class="row">
<div class="card-stats">
<%= current_user.name %> </div>
</div>
<br>
<% if current_user.role == 'doctor' %>
<div class="row-style">
<div class="card-stats">
<%= "Nombre de patients:" %>
<br>
<strong> <%= @user.patients.count %></strong>
</div>
<br>
<div class="card-stats">
<%= "Nombre d'ordonnances:" %>
<br>
<strong> <%= sommeordos(@user.patients) %></strong>
</div>
</div>
<% else %>
<div class="row-style">
<div class="container-stats">
<div class="card-stats">
<br>
<div class="card-stats">
<%= "Ordonnances délivrées aujourd'hui:" %>
<br>
<strong> <%= sommelists(current_user.lists).count %></strong>
</div>
<div class="card-stats">
<%= "Ordonnances délivrées au total:" %>
<br>
<strong> <%= sommelists2(current_user.lists).count %></strong>
</div>
<div class="card-stats">
<%= "Temps de préparation en moyenne:" %>
<br>
<!-- <strong> <%= tempsmoyen(current_user.lists) %></strong> -->
<strong> <%= "temps moyen" %></strong>
</div>
</div>
</div>
</div>
<% end %>

 <%= link_to "Modifier vos informations", edit_user_registration_path, class: "nav-link" %>
