<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% if user_signed_in? %>
    <% if current_user.role == 'doctor' %>
    <%= link_to doctor_patients_path, class: "navbar-brand" do %>
       <p>
      <%= image_tag "logopharma.png" %>
      <%= Pharmadrive %></p>
      <% end %>
  <% else %>
    <%= link_to pharmacy_lists_path, class: "navbar-brand" do %>
      <p>
      <%= image_tag "logopharma.png"%>
      <%= Pharmadrive %></p>
      <% end %>
  <% end %>
  <% else %>
  <%= link_to root_path, class: "navbar-brand" do %>
      <p>
      <%= image_tag "logopharma.png" %>
      <%= Pharmadrive %></p>
      <% end %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <% if current_user.role == 'doctor' %>
        <li class="nav-item active">
          <%= link_to "Accueil", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "Mon compte", user_path(current_user), class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
             <%= link_to "Mes statistiques", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Mes patients", doctor_patients_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to "Accueil", pharmacy_lists_path, class: "nav-link" %>
        </li>
          <li class="nav-item active">
          <%= link_to "Archives", pharmacy_archives_path, class: "nav-link" %>
        </li>
           <li class="nav-item dropdown">
          <%= link_to "Mon compte", user_path(current_user), class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
           <%= link_to "Mes statistiques", user_path(current_user), class: "dropdown-item" %>
           </div>
        </li>
        <li class="nav-item">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% end %>
      <% else %>
      <li class="nav-item active">
          <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
