<h2><%= pharmacy.name %></h2>
<!-- <p id="role"><%= pharmacy.role %></p> -->
<p><%= pharmacy.address %></p>

<button class='btn btn-primary superbtn' data-id="<%= pharmacy.id %>" data-name="<%= pharmacy.name %>" data-address="<%= pharmacy.address %>">Valider</button>
