<% content_for :title, "Modifier un patient" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <div class="form-login">
        <h2 class="text-center">Modifier les informations</h2>
        <%= simple_form_for [:doctor, @patient] do |f| %>
        <%= f.input :first_name, label: 'Prénom' %>
        <%= f.input :last_name, label: 'Nom' %>
        <%= f.input :email %>
        <%= f.submit "Modifier", class: "btn btn-success white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

