<% content_for :title, "Nouveau patient" %>
<div class="container-fluid addform" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.123freevectors.com/wp-content/original/131012-blue-and-white-triangle-geometric-background-illustration.jpg); background-size:cover;">
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <div class="form-login formpat mt-7">
        <h2 class="text-center">Ajouter un patient</h2>
        <%= simple_form_for [:doctor, @patient] do |f| %>
        <%= f.input :first_name, label: 'Prénom' %>
        <%= f.input :last_name, label: 'Nom' %>
        <%= f.input :email %>
        <%= f.submit "Ajouter le patient", class: "btn btn-success white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
