<div class="container-fluid">
    <div class="row">
        <div class="left col-6 border" style="min-height: 100vh">
            <div class="patient-name mt-2">
                <h1>
                    <%= @patient.first_name %>
                    <%= @patient.last_name %>
                    <%= link_to '', edit_doctor_patient_path(@patient), class: 'fas fa-pen ml-1 font05 green' %>
                    <%= link_to '', doctor_patient_path(@patient), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fas fa-trash ml-1 font05 red' %>
                    <button id="showfrom" class="btn btn-secondary font04">+ Ordonnance</button>
                </h1>
            </div>
            <div class="patient-lists ">
                <div class="accordion" id="accordionExample">
                    <% @patient.lists.each do |list| %>
                    <div class="card">
                        <div class="card-header d-flex" id="heading<%=list.id%>">
                            <button class="btn d-flex w-100 justify-between" type="button" data-toggle="collapse" data-target="#collapse<%=list.id%>" aria-expanded="false" aria-controls="collapse<%=list.id%>">
                              <div <%= "class=accordion-list-day" if list.created_at.day == Time.now.day %>>
                                <span >
                                    <%= list.created_at.strftime("%d %B %Y")%> </span>
                                <span>
                                    <%= list.drugs.count %> prescriptions </span>
                              </div>
                            </button>
                        </div>
                        <div id="collapse<%=list.id%>" class="collapse" aria-labelledby="heading<%=list.id%>" data-parent="#accordionExample">
                            <div class="card-body">
                                <% list.drugs.each do |drug| %>
                                <%= drug.drug_name %>
                                <%= drug.dosage %>
                                <%= drug.posology %>
                                <%= drug.quantity %>
                                <%= drug.qsp %> <br>
                                <% end %>
                                <%= link_to 'Pdf', doctor_list_listpdf_path(list.id, format: :pdf), target: :_blank %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="right col-6 border">
            <div>
                <h3>Nouvelle ordonnance : </h3>
            </div>
            <div class="list-in-creation">
                <div id="newordo" class="d-none">
                    <%= simple_form_for @list , url: doctor_patient_lists_path(@patient, @list), method: :post do |f| %>
                    <div id="drugs">
                       <div id="point"> <%= f.input :user_id, label: ".", input_html: { class: 'hidden' } %></div>
                        <%= f.simple_fields_for :drugs, Drug.new do |drug| %>
                        <%#= drug.input :drug_name, input_html:{ class: 'inputsforms one'}%>
                        <div class="form-group string optional list_drugs_drug_name">
                          <label class="form-control-label string optional" for="list_drugs_attributes_0_drug_name">Drug name</label>
                          <input class="form-control string optional inputsforms one" type="text" name="list[drugs_attributes][0][drug_name]" id="list_drugs_attributes_0_drug_name" list="drug-proposals">
                          <datalist id="drug-proposals">
                           <option value="Jimi Hendrix">
                           <option value="James Hetfield">
                           <option value="Eric Clapton">
                           <option value="Eddie Van Halen">
                           <option value="Rob Gravelle">
                           <option value="Jeff Waters">
                           <option value="John Petrucci">
                           <option value="Steve Vai">
                           <option value="The Edge">
                           <option value="Joe Satriani">
                           <option value="Yngwie Malmsteen">
                           <option value="Ian Chrichton">
                          </datalist>

                        </div>
                        <%= drug.input :dosage, input_html:{ class: 'inputsforms two' }%>
                        <%= drug.input :posology, input_html:{ class: 'inputsforms three' }%>
                        <%= drug.input :quantity, input_html:{ class: 'inputsforms four' }%>
                        <%= drug.input :qsp, input_html:{ class: 'inputsforms five' }%>
                        <div class="links">
                        </div>
                        <% end %>
                    </div>





                    <!--    <div class="">
                        <%= link_to 'Ajouter une prescription', class: 'far fa-plus-circle font05 ' %>

                    </div> -->
                    <button type="button" id="book" class="add-drug btn btn-primary">
                        Ajouter
                    </button>
                    <!-- Button trigger modal -->
                    <button id='btn-map' type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                        Selectionner la pharmacie
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Selection de la pharmacie</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Choisir une pharmacie ?
                                <div id="pharmselect">
                                </div>
                                <div id="addresselect">

                                </div>
                                    <div
                                      id="map2"
                                      style="
                                        width: 100%;
                                        height: 550px;
                                      "
                                      data-markers="<%= @markers.to_json %>"
                                      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
                                    >
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                    <%= f.submit 'Créer ordonnance', class: 'new-employee btn btn-danger' %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


  const
  drugNameInput = document.querySelector('#list_drugs_attributes_0_drug_name');

  drugNameInput.addEventListener('keyup', (event) => {
    // event.preventDefault(); // <-- to prevent <form>'s native behaviour
    // const input = event.currentTarget.querySelector('.form-control');
    const drugList = document.querySelector("#drug-proposals");
    console.log(drugList);
    const query = event.currentTarget.value;
    drugList.innerHTML = '';
    fetch(`../../doctor/api/${query}`,
      { credentials: 'include'})
    .then(response => response.json())
    .then((data) => {
      data.forEach((drug) => {
        drugList.insertAdjacentHTML('beforeend', `<option value='${drug.denomination}'>` )
      });
      // Do something with the response
    });
  });

</script>

