<% content_for :title, "Consultation / Création d'ordonnance" %>
<div class="container-fluid">
    <div class="row">
        <div class="left col-6 border" style="min-height: 100vh">
            <div class="patient-name mt-2 d-flex" style="justify-content: space-between; ">
                <h1>
                    <%= @patient.first_name %>
                    <%= @patient.last_name %>

                </h1>
                <div class="">
                      <%= link_to '', edit_doctor_patient_path(@patient), class: 'fas fa-pen ml-1 green' %> &nbsp;
                    <%= link_to '', doctor_patient_path(@patient), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fas fa-trash ml-1 red' %>&nbsp;
                    <button id="showfrom" class="btn btn-success white font04">+ Ordonnance</button>
                  </div>
            </div>
            <div class="patient-lists animated fadeIn">
                <div class="accordion" id="accordionExample">
                    <% @patient.lists.each do |list| %>
                    <div class="card">
                        <div class="card-header d-flex" id="heading<%=list.id%>">
                            <button class="btn d-flex w-100 justify-between" type="button" data-toggle="collapse" data-target="#collapse<%=list.id%>" aria-expanded="false" aria-controls="collapse<%=list.id%>">
                              <div class="d-flex justify-between w-100">
                                <span >
                                    <%= list.created_at.strftime("%d-%m-%Y")%> </span>
                                <span>
                                    <%= list.drugs.count %> prescription(s) </span>
                              </div>
                            </button>
                        </div>
                        <div id="collapse<%=list.id%>" class="collapse" aria-labelledby="heading<%=list.id%>" data-parent="#accordionExample">
                            <div class="card-body">
                                <% list.drugs.each do |drug| %>
                      <%= drug.drug_name %> |
                      <%= drug.quantity %> |
                      <%= drug.posology %> |
                      <%= drug.qsp %> <br>
                                <% end %>
                                <br>
                                <%= link_to 'Télécharger le Pdf', doctor_list_listpdf_path(list.id, format: :pdf), target: :_blank , class: 'btn btn-success white' %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="right col-6 border">
            <div>
                <h3>Nouvelle ordonnance : </h3>
            </div>
            <div class="list-in-creation">
                <div id="newordo" class="d-none">
                    <%= simple_form_for @list , url: doctor_patient_lists_path(@patient, @list), method: :post do |f| %>
                       <div id="point" class="h20"> <%= f.input :user_id, label: ".",  input_html: { class: 'hidden p-0 m-0' } %></div>
                      <div id="drugs">
                          <%= render "/doctor/drugs/form", index: 0 %>
                      </div>


                    <!--    <div class="">
                        <%#= link_to 'Ajouter une prescription', class: 'far fa-plus-circle font05 ' %>

                    </div> -->
<!--                     <button type="button" id="book" class="add-drug btn btn-primary">
                        Ajouter
                    </button> -->
                    <div class="col-12">
                    <%= link_to "Ajouter", new_doctor_drug_path(index: 1),  remote: true, class: "add-drug btn btn-success white", id: "book" %>
                    <!-- Button trigger modal -->
                    <button id='btn-map' type="button" class="btn btn-success white" data-toggle="modal" data-target="#exampleModal">
                        Selectionner la pharmacie
                    </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Selection de la pharmacie :</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Choisir une pharmacie ? -->
                                    <div class="inject">
                                <div id="pharmselect" class="animated fadeIn">
                                </div>
                                <div id="addresselect" class="animated fadeIn">
                                </div>
                                </div>
                                    <div
                                      id="map2"
                                      style="
                                        width: 100%;
                                        height: 550px;
                                      "
                                      data-markers="<%= @markers.to_json %>"
                                      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
                                    >
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success white" data-dismiss="modal">Retour</button>
                                    <%= f.submit 'Créer ordonnance', class: 'new-employee btn btn-success white' %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


  var drugNameInput = document.querySelector('#list_drugs_attributes_0_drug_name');

  drugNameInput.addEventListener('keyup', (event) => {
    // event.preventDefault(); // <-- to prevent <form>'s native behaviour
    // const input = event.currentTarget.querySelector('.form-control');
    const drugList = document.querySelector("#drug-proposals_0");
    console.log(drugList);
    const query = event.currentTarget.value;
    drugList.innerHTML = '';
    fetch(`../../doctor/api/${query}`,
      { credentials: 'include'})
    .then(response => response.json())
    .then((data) => {
      data.forEach((drug) => {
        drugList.insertAdjacentHTML('beforeend', `<option value='${drug.denomination}'>` )
      });
      // Do something with the response
    });
  });

</script>

