<div class="container-fluid">
  <div class="row">
    <div class="left col-6 border" style="height: 100vh">
      <div class="patient-name">
        <h1> <%= @patient.first_name %> <%= @patient.last_name %> <%= link_to '', edit_doctor_patient_path, class: 'fas fa-pen ml-1' %> </h1>
      </div>

      <div class="patient-lists ">
        <% @patient.lists.each do |list| %>
          <div class="card-list">
            <h6> <%= list.prescribed_at.strftime("%A, %e, %B, %C") %> - <%= list.drugs.count %> prescriptions </h6>
          </div>
        <% end %>
      </div>

    </div>

    <div class="right col-6 border">

    </div>

  </div>

</div>
