<div class="container-fluid">
    <div class="row">
        <div class="left col-6 border" style="min-height: 100vh">
            <div class="patient-name mt-2">
                <h1>
                    <%= @patient.first_name %>
                    <%= @patient.last_name %>
                    <%= link_to '', edit_doctor_patient_path(@patient), class: 'fas fa-pen ml-1 font05 green' %>
                    <button id="showfrom" class="font05">+ Ordonnance</button>
                </h1>
            </div>
            <div class="patient-lists ">
                <div class="accordion" id="accordionExample">
                    <% @patient.lists.each do |list| %>
                    <div class="card">
                        <div class="card-header d-flex" id="heading<%=list.id%>">
                            <button class="btn d-flex w-100 justify-between" type="button" data-toggle="collapse" data-target="#collapse<%=list.id%>" aria-expanded="false" aria-controls="collapse<%=list.id%>">
                              <div <%= "class=accordion-list-day" if list.created_at.day == Time.now.day %>>
                                <span >
                                    <%= list.created_at.strftime("%d %B %Y")%> </span>
                                <span>
                                    <%= list.drugs.count %> prescriptions </span>
                              </div>
                            </button>
                        </div>
                        <div id="collapse<%=list.id%>" class="collapse" aria-labelledby="heading<%=list.id%>" data-parent="#accordionExample">
                            <div class="card-body">
                                <% list.drugs.each do |drug| %>
                                <%= drug.drug_name %>
                                <%= drug.dosage %>
                                <%= drug.posology %>
                                <%= drug.quantity %>
                                <%= drug.qsp %> <br>
                                <% end %>
                                <%= link_to 'Pdf', doctor_list_listpdf_path(list.id, format: :pdf) %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="right col-6 border">
            <div>
                <h3>Nouvelle ordonnance : </h3>
            </div>
            <div class="list-in-creation">
                <div id="newordo" class="d-none">
                    <%= simple_form_for @list , url: doctor_patient_lists_path(@patient, @list), method: :post do |f| %>
                    <div id="drugs">
                        <%= f.input :user_id, label: ".", input_html: { class: 'hidden' } %>
                        <%= f.simple_fields_for :drugs, Drug.new do |drug| %>
                        <%= drug.input :drug_name, input_html:{ class: 'inputsforms one' }%>
                        <%= drug.input :dosage, input_html:{ class: 'inputsforms two' }%>
                        <%= drug.input :posology, input_html:{ class: 'inputsforms three' }%>
                        <%= drug.input :quantity, input_html:{ class: 'inputsforms four' }%>
                        <%= drug.input :qsp, input_html:{ class: 'inputsforms five' }%>
                        <div class="links">
                        </div>
                        <% end %>
                    </div>
                    <!--    <div class="">
                        <%= link_to 'Ajouter une prescription', class: 'far fa-plus-circle font05 ' %>

                    </div> -->
                    <button type="button" id="book" class="add-drug">
                        Ajouter
                    </button>
                    <!-- Button trigger modal -->
                    <button id='btn-map' type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                        Selectionner la pharmacie
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Selection de la pharmacie</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Choisir une pharmacie ?
                                    <div id="map2" style="width: 100%;
  height: 450px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                    <%= f.submit 'Créer ordonnance' %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


