<div class="container-fluid">
    <div class="row">
        <div class="left col-6 border" style="min-height: 100vh">
            <div class="patient-name mt-2">
                <h1>
                    <%= @patient.first_name %>
                    <%= @patient.last_name %>
                    <%= link_to ' edit', edit_doctor_patient_path, class: 'fas fa-pen ml-1 font05 green' %>
                </h1>
            </div>
            <div class="patient-lists ">
                <div class="accordion" id="accordionExample">
                    <% @patient.lists.each do |list| %>
                    <div class="card">
                        <div class="card-header d-flex" id="heading<%=list.id%>">

                                <button class="btn d-flex w-100 justify-between" type="button" data-toggle="collapse" data-target="#collapse<%=list.id%>" aria-expanded="false" aria-controls="collapse<%=list.id%>">

                                        <span><%= list.prescribed_at.strftime("%A %e %B %C") %></span>
                                        <span><%= list.drugs.count %> prescriptions </span>
                                </button>

                        </div>
                        <div id="collapse<%=list.id%>" class="collapse" aria-labelledby="heading<%=list.id%>" data-parent="#accordionExample">
                            <div class="card-body">
                                <% list.drugs.each do |drug| %>
                                  <%= drug.drug_name %>
                                  <%= drug.dosage %>
                                  <%= drug.posology %> <br>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="right col-6 border">
        </div>
    </div>
</div>
