<div class="container-fluid">
    <div class="row">
        <div class="left col-6 border" style="min-height: 100vh">
            <div class="patient-name mt-2">
                <h1>
                    <%= @patient.first_name %>
                    <%= @patient.last_name %>
                    <%= link_to ' edit', edit_doctor_patient_path, class: 'fas fa-pen ml-1 font05 green' %>
                    <button id="showfrom" class="font05">+ Ordonnance</button>
                </h1>
            </div>
            <div class="patient-lists ">
                <div class="accordion" id="accordionExample">
                    <% @patient.lists.each do |list| %>
                    <div class="card">
                        <div class="card-header d-flex" id="heading<%=list.id%>">
                            <button class="btn d-flex w-100 justify-between" type="button" data-toggle="collapse" data-target="#collapse<%=list.id%>" aria-expanded="false" aria-controls="collapse<%=list.id%>">
                                <span>
                                    <%= list.prescribed_at.strftime("%A %e %B %C") %></span>
                                <span>
                                    <%= list.drugs.count %> prescriptions </span>
                            </button>
                        </div>
                        <div id="collapse<%=list.id%>" class="collapse" aria-labelledby="heading<%=list.id%>" data-parent="#accordionExample">
                            <div class="card-body">
                                <% list.drugs.each do |drug| %>
                                <%= drug.drug_name %>
                                <%= drug.dosage %>
                                <%= drug.posology %> <br>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="right col-6 border">
          <div class="list-in-creation">
            <h3>Nouvelle ordonnance : </h3>
            <%= simple_form_for :list, url: doctor_patient_lists_path(@patient, @list), method: :post  do |form| %>
              <div class="new-drug">
                <%= form.fields_for [ @list, @drug ] do |f| %>
                    <%= f.input :drug_name, label: "Nom du médicament", class: "drug-name-input" %>
                    <%= f.input :dosage, label: "Dosage", class: "dosage-input" %>
                    <%= f.input :posology, label: "Posologie", class: "posology-input" %>
                    <%= f.input :quantity, label: "Quantité", class: "quantity-input" %>
                    <%= f.input :qsp, label: "QSP", class: "qsp-input" %>
                <% end %>
              </div>
              <div class="">
              <%= link_to ' Ajouter une prescription', class: 'far fa-plus-circle font05' %>
              </div>

              <button type="button" class="btn btn-success color-white" data-toggle="modal" data-target="#exampleModal" id="book">
                Choisir la Pharmacie
              </button>


              <%= form.button :submit, class: 'add-drug' %>
            <% end %>
          </div>

<script>

const listInCreation = document.querySelector(".list-in-creation");
const addDrug = document.querySelector(".add-drug");

addDrug.addEventListener("click", (event) => {

  const drugNameInput = document.querySelector(".list_drug_drug_name input");
  const dosageInput = document.querySelector(".list_drug_dosage input");
  const posologyInput = document.querySelector(".list_drug_posology input");
  const quantityInput = document.querySelector(".list_drug_quantity input");
  const qspInput = document.querySelector(".list_drug_qsp input");


  listInCreation.insertAdjacentHTML("afterbegin" , `<div><p>${drugNameInput.value} - ${dosageInput.value} -${posologyInput.value} /j- ${quantityInput.value} boites - ${qspInput.value}</p></div>`);


});

</script>


        </div>
    </div>
</div>
<!--             <form id="newordo" class="d-none">
            </form> -->

