<p>
  <%= @list.patient.user.name %>
  <%= @list.patient.user.address %>
  <%= @list.user.name %>
  <%= @list.user.address %>
  <%= @list.patient.first_name %>
  <%= @list.patient.last_name %>
  <%= @list.patient.created_at %>
  <% @list.drugs.each do |drug| %>
  <%= drug.drug_name %>
  <%= drug.dosage %>
  <%= drug.posology %>
  <%= drug.quantity %>
  <%= drug.qsp %>
  <% end %>
</p>

