<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


 <div style="display:flex; justify-content: center; font-family: font-family: 'Roboto', sans-serif; ">
   <div style="background-color: #FAFAFD ; text-align: center; width: 50%; border: solid #B6C5FA 0.5px; border-radius: 4px" >
    <div style="text-align: center, margin: 0 800px, background-color: white; margin-bottom: 15px;">
      <div style="padding: 16px 0px ">
      <div style="text-align: center">
      <img src="https://res.cloudinary.com/diiv3ck97/image/upload/v1567088002/logopharma_jpo6bs.png" style="width: 80px; height: 80px"alt="">
      <h2 style="font-family: bold"> Pharmadrive </h2>
    </div>
      <div>
        Bonjour, <%= @list.patient.first_name %>
          <%= @list.patient.last_name %>
      </div>

      <div style="margin-bottom: 10px;">
        <h4> Une ordonnance a été crée par votre medecin : </h4>
        <p>
          <%= @list.patient.user.name %> <br>
          <%= @list.patient.user.address %> <br>
          le : <%= @list.created_at.strftime("%d %B %Y, %k:%M %P") %>
        </p>
      </div>
      <div style="margin: 30px">
          <%= link_to "Télécharger l'ordonnance", doctor_list_listpdf_url(@list.id), format: :pdf, target: :_blank, style: 'color: white; background-color: #66DE89; padding: 15px 10px; border-radius: 4px; text-decoration: none; margin-top: 10px;'%>
      </div>
      <div style="margin: 30px; padding: 10px; background-color: #F5F5FA; border-radius: 4px;">
          <% @list.drugs.each do |drug| %>
            <div style="margin: 6px">
              <h4>
                <%= drug.drug_name %> <br>
                <%= drug.posology %> -
                <%= drug.quantity %> -
                <%= drug.qsp %>
              </h4>
            </div>
          <% end %>
      </div>



      <div style="">
          <h4> Livrée à la Pharmacie : </h4>
          <p><%= @list.user.name %> <br>
            <%= @list.user.address %> </p> <br>
      </div>

    </div>
  </div>
</div>
</div>
