 <div style="background-color: #FAFAFD ; text-align: center; width: 50%" >
  <div style="text-align: center, background-color: white">
    <div style="padding-bottom: 16px ">
      <h2>Pharmadrive</h2>
    </div>

    <div style="border-bottom: solid grey 0.5px; margin-bottom: 16px">
      Bonjour, <%= @list.patient.first_name %>
      <%= @list.patient.last_name %> <br> <br>
      Nous vous informons que votre ordonnance est maintenant disponible à la pharmacie : <br>
      <p>
        <%= @list.user.name %> <br>
        <%= @list.user.address %>
      </p>
    </div>



    <div style="">
      <h4>Détails de votre ordonnance </h4>
      Ordonnance du medecin :
      <p>
        <%= @list.patient.user.name %> <br>
        <%= @list.patient.user.address %> <br>
        crée le : <%= @list.created_at.strftime("%d %B %Y, %k:%M %P") %>
      </p>
    </div>


    <div style="margin: 30px; background-color: #F5F5FA; border-radius: 4px;">
      <% @list.drugs.each do |drug| %>
        <div style="margin: 6px">
          <h4>
            <%= drug.drug_name %> <br>
            <%= drug.posology %> -
            <%= drug.quantity %> -
            <%= drug.qsp %>
          </h4>
        </div>
      <% end %>
    </div>

  </div>
</div>
