 <div style="background-color: #DFE1E6">
  <div style="text-align: center, margin: 0 100px, background-color: white">
    <div style="padding-bottom: 20px ">
      <h3>Pharmadrive</h3>
    </div>

    <div style="border-bottom: solid black">
      Bonjour, <%= @list.patient.first_name %>
      <%= @list.patient.last_name %> <br>
      Nous vous informons que votre ordonnance est maintenant disponible à la pharmacie : <br>
      <p>
        <%= @list.user.name %> <br>
        <%= @list.user.address %>
      </p>
    </div>



    <div style="border-bottom: solid black">
      <h4>Détails de votre ordonnance </h4>
      <h5> Ordonnance du medecin : </h5>
      <p>
        <%= @list.patient.user.name %>
        <%= @list.patient.user.address %>
        crée le : <%= @list.patient.created_at.strftime("%d %B %Y, %k %M %P") %>
      </p>
    </div>


    <div>
        <% @list.drugs.each do |drug| %>
          <div>
            <h6>
              <%= drug.drug_name %>
              <%= drug.posology %>
              <%= drug.quantity %>
              <%= drug.qsp %>
            </h6>
          </div>
        <% end %>
    </div>

  </div>
</div>
