<div class="container-fluid">
  <div class="row">
<div class="form-group string optional list_drugs_drug_name col-12">

  <input class="form-control string optional inputsforms one" type="text" placeholder="Nom du médicament" name="list[drugs_attributes][<%= index %>][drug_name]" id="list_drugs_attributes_<%= index %>_drug_name" list="drug-proposals_<%= index %>">
  <datalist id="drug-proposals_<%= index %>"></datalist>
</div>

<div class="form-group string optional list_drugs_posology col-4">

  <input class="form-control string optional inputsforms three" type="text" placeholder="Posologie" name="list[drugs_attributes][<%= index %>][posology]" id="list_drugs_attributes_<%= index %>_posology">
</div>
<div class="form-group string optional list_drugs_quantity col-4">

  <input class="form-control string optional inputsforms four" type="text" placeholder="Quantité" name="list[drugs_attributes][<%= index %>][quantity]" id="list_drugs_attributes_<%= index %>_quantity">
</div>
<div class="form-group string optional list_drugs_qsp col-4">

  <input class="form-control string optional inputsforms five" type="text" placeholder="QSP" name="list[drugs_attributes][<%= index %>][qsp]" id="list_drugs_attributes_<%= index %>_qsp">
</div>
<div class="links"></div>
</div>
</div>
